@import '../../../../styles/constants.scss';

.sortInfo {
  display: flex;
  justify-content: space-between;
  background-color: $lightgrey;
  padding: .5em;

  button {
    border: none;
    background-color: inherit;
    font-size: inherit;
    cursor: pointer;

    &.selected {
      color: $red
    }
  }
}
