@import '../../../styles/constants.scss';

.movieSection {
  background-color: $dimgrey;
  color: $white;
  padding: .5em;

  .movie {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
  }

  .moviePoster {
    margin: 2%;
    width: 98%;

    img {
      width: 100%;
    }
  }

  .movieDetails {
    margin: 2%;
    width: 98%;

    .heading {
      display: flex;
      align-items: center;
    }
  
    .voteAverage {
      margin: 1em;
      padding: .5em;
      color: $green;
      border: 2px solid $green;
      border-radius: 50px;
    }

    h2 {
      color: $red;
    }

    span {
      padding-right: 1em;
    }
  }
}

@media screen and (min-width: $landscape-phone-min-width) {
  .movieSection {
    .movie {
      flex-wrap: nowrap;
    }

    .moviePoster {
      width: 26%;
    }

    .movieDetails {
      width: 66%;
    }
  }
}
