@import '../../../../styles/constants.scss';

.movieItem {
  width: 100vw;
  margin: 0;

  .poster {
    width: 100%;
  }
  
  .movieTitle {
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .movieYear {
    border: 1px solid $grey;
    float: right;
  }

  .movieGenre {
    color: $grey;
    flex-grow: 2;
  }
}

@media screen and (min-width: $landscape-phone-min-width) {
  .movieItem {
    width: 44vw;
    margin: 2vw;
  }
}

@media screen and (min-width: $small-desktop-min-width) {
  .movieItem {
    width: 28vw;
  }
}

@media screen and (min-width: $large-desktop-min-width) {
  .movieItem {
    width: 20vw;
  }
}
