// Breakpoints
$landscape-phone-min-width: 576px;
$small-desktop-min-width: 992px;
$large-desktop-min-width: 1200px;

// Heights
$footer-height: 50px;

// Colors
$white: white;
$lightgrey: lightgrey;
$darkgrey: darkgrey;
$grey: grey;
$dimgrey: dimgrey;
$black: black;

$red: crimson;
$green: darkSeaGreen;
